<div class="py-4 px-6 rounded shadow-md w-60 sm:w-80 animate-pulse bg-white dark:bg-dark-700">

  <div class="flex flex-row justify-between">
    <div class="w-20 h-8 rounded bg-primary-500 dark:text-primary-400"></div>

    <a class="py-2 px-3 text-xs font-medium text-center text-white bg-primary-300 rounded-lg select-none dark:bg-primary-300">
      Open
      <i class="fa fa-rocket text-xs leading-lg ml-4"></i>
    </a>
  </div>


  <div class="py-4 space-y-4">
    <div class="w-full h-2 rounded bg-neutral-500 dark:text-primary-200"></div>
    <div class="w-full h-2 rounded bg-neutral-500 dark:text-primary-200"></div>
    <div class="w-3/4 h-2 rounded bg-neutral-500 dark:text-primary-200"></div>
  </div>
</div>
