<div class="w-full h-full bg-white py-4 px-6 flex flex-col justify-start
            shadow-lg rounded-lg cursor-pointer
            sm:hover:scale-110"
>
  <div class="flex flex-row justify-between">
    <!--    <img class="w-8 h-8 rounded-full mr-4 border-2 border-neutral-300" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" alt="Jese Leos">-->
    <label class="text-neutral-800 text-2xl font-semibold">{{name}}</label>

    <a class="py-2 px-3 text-xs font-medium text-center text-white bg-primary-700 rounded-full cursor-pointer
              hover:bg-primary-800 focus:outline-none"
       href="{{url}}"
       target="_blank">
      Go
    </a>

  </div>
  <p class="my-2 text-neutral-300 line-clamp-3">{{description}}</p>

  <div class="flex justify-end mt-auto ">
    <a href="#"
       class="bg-accent-100 text-accent-700 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
      Frontend
    </a>
    <a href="#"
       class="bg-accent-100 text-accent-700 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
      Angular
    </a>
    <!--      <a href="#" class="text-xl font-medium text-indigo-500">John Doe</a>-->
  </div>
</div>



