<div class="furry">
  <div class="circle bg-primary-900 dark:bg-dark-400"></div>
  <div class="clip">
    <div class="paper">
      <div class="face">
        <div class="eyes">
          <div class="eye eye-left bg-primary-900"></div>
          <div class="eye eye-right bg-primary-900"></div>
        </div>
        <div class="rosyCheeks rosyCheeks-left-up"></div>
        <div class="rosyCheeks rosyCheeks-left-down"></div>
        <div class="rosyCheeks rosyCheeks-right-up"></div>
        <div class="rosyCheeks rosyCheeks-right-down"></div>
        <div class="mouth bg-primary-900"></div>
      </div>
    </div>
  </div>
</div>
