<div>
  <div class="mx-2 mt-8">
    <dashboard-search-bar (whenValueChange)="whenValueChange($event)"></dashboard-search-bar>
  </div>

  <div class="mt-8 mb-4 md:mt-16">
    <ng-container *ngIf="searchValues$ | async as values">
      <ng-container *ngIf="(loading$ | async) === false; else loading">
        <ng-container *ngIf="(error$ | async) === null; else errorTemplate">
          <div
            class="grid grid-cols-1 gap-x-10 gap-y-8 justify-center sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4sm:mx-6 lg:mx-24">
            <ng-container *ngFor="let value of values">
              <dashboard-card [name]="value.name" [description]="value.description"></dashboard-card>
            </ng-container>
          </div>
        </ng-container>

        <ng-template #errorTemplate>

          <div class="flex flex-col justify-center items-center md:flex-row">
            <dashboard-furry></dashboard-furry>
            <div class="flex flex-col justify-center items-center md:items-start" *ngIf="error$ | async as error">
              <h1 class="font-bold text-7xl mb-2.5 uppercase text-primary-800 dark:text-dark-100">{{error.status}}</h1>
              <h2 class="font-normal text-2xl uppercase text-neutral-500 dark:text-dark-300">OOPS! {{error.description}}</h2>
              <p class="font-normal mt-2 text-sm text-neutral-500 dark:text-dark-100 max-w-xs" [innerHTML]="error.courtesyMessage"></p>
            </div>
          </div>
        </ng-template>

      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loading></ng-template>
