<nav
  class="top-0 bg-primary-700 z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow bg-neutral-50">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <a class="text-neutral-50 text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
      Go Links Search Engine
    </a>
    <div class="flex">
      <dashboard-theme-toggle class="flex justify-center"></dashboard-theme-toggle>
      <a class="text-neutral-50 text-xs uppercase font-bold ml-4"
         href="https://github.com/darge98/Go-Links"
         target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github text-lg leading-lg"></i>
      </a>
    </div>
  </div>
</nav>
