<nav
  class="top-0 bg-white z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg shadow">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <a
      class="text-neutral-700 text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
      Go Links Search Engine
    </a>
    <div class="flex">
      <a class="text-neutral-700 text-xs uppercase font-bold mr-4"
         href="https://github.com/darge98/Go-Links"
         target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github text-lg leading-lg"></i>
      </a>
      <dashboard-theme-toggle class="flex justify-center"></dashboard-theme-toggle>
    </div>
  </div>
</nav>
